.container {
    max-width: 1440px;
    margin-inline: auto;
    padding: 15px;
}

main div {
    margin-top: 1rem;
}

img {
    width: 100%;
}

.headline {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 2.5rem;
    color: hsl(240, 100%, 5%)
}

.paragraph {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsl(236, 13%, 42%);
}

.button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    padding-block: 1rem;
    padding-inline: 2rem;
    letter-spacing: 0.25rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 0.35s;
}

.button:hover {
    background-color: hsl(240, 100%, 5%);
}

.news_container {
    background-color: hsl(240, 100%, 5%);
    padding: 1.5rem;
    margin-top: 3.5rem;
}

.news_container h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
}

.news_container h3 {
    color: hsl(36, 100%, 99%);
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.news_container h3:hover {
    color: hsl(35, 77%, 62%);
}

.news_container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsl(233, 8%, 79%);
}

.divisor {
    height: 1px;
    background-color: hsl(236, 13%, 42%);
}

.news_container div {
    margin-top: 2rem;
}

.other_news_container {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.other_news {
    display: flex;
}

.other_news figure {
    margin-right: 1.5rem;
}

.other_news figure img {
    width: 100px;
}

.other_news div {
    margin: 0;
}

.other_news div h2 {
    color: hsl(233, 8%, 79%);
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.other_news div h3 {
    color: hsl(240, 100%, 5%);
    margin-bottom: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s;
}

.other_news div h3:hover {
    color: hsl(35, 77%, 62%);
}

.other_news div p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsl(236, 13%, 42%);
}